/* import google fonts - rubik */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Rubik:ital,wght@0,300;0,500;0,700;1,300&display=swap');

/*** variable CSS ***/
:root{
    --header-hight: 3.5rem

    /* colors */
    /* Color mode HSL(hue, saturation, lightness) */
    --first-color: hsl(193, 72%, 48%);
    --first-color-alt: hsl(193, 87%, 43%);
    --black-color: hsl(193, 12%, 12%);
    --card-color: hsl(0, 0%, 90%);;
    --title-color: hsl(193, 12%, 12%);
    --text-color: hsl(193, 4%, 42%);
    --text-color-light: hsl(193, 4%, 75%);
    --body-color: hsl(193, 4%, 97%);
    --container-color: #fff;

    /* font and typography */
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Rubik', sans-serif;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* font weight */
    --font-medium: 500;
    --font-semi-bold: 600;

     /* z index */
     --z-tooltip: 10;
     --z-fixed: 100;
}

/*** Responsive typography ***/

@media screen and (min-width: 968px) {
    :root {
      --big-font-size: 3.5rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
}

/* base */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth; 
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,h2,h3{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

h1,h2,h3,p{
    line-height: 140%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

button{
    border: none;
    outline: none;
    cursor: pointer;
}

/*** reusable css classes ***/

.container{
    max-width: 1200px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.section{
    padding: 4.5rem 0 2rem;
}

.section_title{
    position: relative;
    font-size: var(--h1-font-size);
    padding-left: 1.25rem;
    margin-bottom: 2.25rem;
}

/*** --- header --- ***/
.header{
    width: 100%;
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: var(--z-fixed);
}

/*** --- nav --- ***/
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo,
.nav_toggle{
    color: #fff;
}

.nav_logo{
    display: flex; 
    align-items: center;
    column-gap: .5rem; 
    font-weight: var(--font-bold);
}

.nav_logo-img{
    width: .75rem;
}

.nav_toggle{
    display: inline-flex;
    font-size: 1.15rem;
    cursor: pointer;
}